name: Call CI/CD Release Workflow

on:
  push:
    branches-ignore:
      - main

jobs:
  release:
    uses: ilyaslabs/cicd/.github/workflows/mvn-snapshot-release.yml@main
    secrets:
      OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}